---
interface Prosp {
  pageTitle?: string
}

const { pageTitle =""} =Astro.props
---



<style>
  body {
    background: rgb(227, 184, 244);
    color: black;
  }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>curso de Astro {pageTitle}</title>
</head>
<body>
  <slot/>
  
  
</body>
</html>